<link rel="stylesheet" type="text/css" href="/css/homepagestyle.css">

<div class="homepage">
    <h1>Welcome</h1>
    <h1>Start your Wellness journey below!</h1>
    <div>
        <button class="homepagebutton"><a href="signup">Sign Up Now!</a></button>
        <h1>or</h1>
        <button class="homepagebutton"><a href="login">Login Now!</a></button>
    </div>
</div>