<link rel="stylesheet" type="text/css" href="/css/logstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>Create a log</h1>
<div class="mainbody">
    <div id="log-box">
        <form id="signup-form">
            <label for="date">Log Date:</label>
            <input type="date" id="datepicker">
            <label for="workout-type">Workout type:</label>
            <input type="text" id="workout-type" name="workout-type">
            <label for="workout-duration">Workout duration:</label>
            <input type="text" id="workout-duration" name="workout-duration">
            <label for="sleep">Hours of sleep:</label>
            <input type="text" id="sleep" name="sleep">
            <label for ="weight">Weight:</label>
            <input type="text" id="weight" name="weight">
            <label for="slider">How's your mood today?:</label> 
            <div class="container">
                <i class="material-icons" id="emoji">
                    sentiment_satisfied
                </i>
                <input type="range" min="0" max="4" value="2" id="slider">
            </div>
            <label for ="description">Description:</label>
            <input type="text" id="description" name="description">
            <input type="submit" class="button" id="save-log" value="Save">
        </form>
      </div>
</div>

<script src="./js/log.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
