<link rel="stylesheet" type="text/css" href="/css/logstyle.css">

<h1>Create a log</h1>
<div class="mainbody">
    <div id="log-box">
        <form id="signup-form">
          <label for="firstname">Log Date:</label>
          <input type="text" id="firstname" name="firstname">
          <label for="lastname">Workout type:</label>
          <input type="text" id="lastname" name="lastname">
          <label for="birthday">Workout duration:</label>
          <input type="text" id="birthday" name="birthday">
          <label for="email">Hours of sleep:</label>
          <input type="text" id="email" name="email">
          <label for="username">How's your mood today?:</label>
          <input type="text" id="username" name="username">
          <input type="submit" class="button" value="Save">
        </form>
      </div>
</div>