<link rel="stylesheet" type="text/css" href="/css/loginstyle.css">

</head>
<body>
<h1 class="title">User Login</h1>
<div class="mainbody">
    <div id="login-box">
        <form id="login-form">
          <label for="email">E-mail:</label>
          <input type="text" id="email" name="email">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
          <input type="submit" class="button" value="Login">
          <input type="submit" class="button" id="signup-button" value="Sign Up">
        </form>
      </div>
</div>

<script src="./js/login.js"></script>