<link rel="stylesheet" type="text/css" href="/css/loginstyle.css">

</head>
<body>
<h1 class="title">User Login</h1>
<div class="mainbody">
    <div id="login-box">
        <form id="login-form">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
          <input type="submit" class="button"value="Login">
          <input type="submit" class="button"value="Sign Up">
        </form>
      </div>
</div>