<link rel="stylesheet" href="/css/userhomepagestyle.css">
<body>
    <div class ="header">
        {{#each datas as |data| }}
        <h1>Welcome {{firstName}}</h1>
        {{/each}}
        <button id="createlog" class="btn btn-primary" type="submit">Create Log</button>
    </div>
    <div class="mainbody">
        <div class="chart-box">
            <canvas id="myChart"></canvas> 
        </div>

        <div class="log-box">
            <div>

            </div>
            <div>
                <button id="showall" class="btn btn-primary" type="submit">Show All</button>
            </div>
        </div>
        
    </div>

<script src="./js/profile.js"></script>