h1 {
    text-align: center;
}

.mainbody {
    display: flex;
    justify-content: space-around;
}

#signup-box {
    border-style: solid;
    width: 50%;
    padding: 30px;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

.button {
    margin: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="text"],
input[type="password"]  {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}