h1 {
    text-align: center;
}

.mainbody {
    display: flex;
    justify-content: space-around;
}

#signup-box {
    border-style: solid;
    width: 50%;
    padding: 30px;
}

#log-form {
    display: flex;
    flex-direction: column;
    border-style: solid;
    background-color:white;
}

.button {
    margin: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="text"],
input[type="password"]  {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

body {
    background-color: #fdfdfd;
    background-image: linear-gradient(-45deg, #00dbde, #966c97, #5cff9b);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }