.navbar {
    border-style: solid;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(91, 133, 53);
    /* flex-direction: column; */
}

.nav-item {
    font-size: 30px;
    padding-left: 50px;
}

.blogstory {
    border-style: solid;
    margin: 1%;
}

h2 {
    text-align: center;
    margin: 2%;

}

.blogstory {
    text-align: center;
    margin: 2%;
}

.add-button {
    width: 100px;
}

.addblog {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#signup {
    margin: 30px;
}

#login {
    margin: 30px;
}

p {
    text-align: center;
    color: chocolate;
}

.title {
    padding: 50px;
}

.homepage {
    text-align: center;
    color: red;
    margin-top: 100px;
}

.homepagebutton {
    color: rgb(148, 14, 14);
    transition: all 0.3s ease;
    border: 2px solid red;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin:1%;

}

.homepagebutton:hover {
    background-color: rgb(179, 16, 151);
    color: white;
}

#myChart{
    margin-top: 100px;
}

/* .log-div {
    display: flex;
} */

.log-display {
    border-style: solid;
}

