.chart-box {
    border-style: solid;
    width: 45%;
    height: 700px;
    display: flex;
}

.log-box {
    border-style: solid;
    width: 45%;
    height: 700px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    background-clip: content-box;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px;


}

.mainbody {
    display: flex;
    border-style: solid;
    border-color: blue;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #fff;
    background-clip: content-box;
}

body {
    background-color: #fdfdfd;
    background-image: linear-gradient(-45deg, #00dbde, #966c97, #5cff9b);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }