.chart-box {
    border-style: solid;
    width: 45%;
    height: 700px;
    display: flex;
}

.log-box {
    border-style: solid;
    width: 45%;
    height: 700px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    background-clip: content-box;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px;


}

.mainbody {
    display: flex;
    border-style: solid;
    border-color: blue;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #fff;
    background-clip: content-box;
}